.close {
    @include no-style;
    @include no-mg-pd;
    color: $neutral;
}

.next {
    background-color: $success;
    border-radius: 5px;
    font-size: $value;
    line-height: ($value*3)/2;
    padding: $value/2;
    width: 25%;
    text-align: center;
        &-first {
            margin: $value auto;
            width: 50%;
        }
    & a {
        @include button;
        @include no-style;
        color: $neutral;
    }
}
.prev {
    border: 2px solid $success;
    border-radius: 5px;
    font-size: $value;
    line-height: ($value*3)/2;
    padding: $value/2;
    width: 25%;
    & a {
        @include button;
        @include no-style;
        color: $success;
    }
    
    & a:hover {
        color: $neutral;
        background-color: $success;
    }

    &:hover {
        background-color: $success;
    }
}


.understand {
    background-color: $success;
    border-radius: 5px;
    font-size: $value;
    line-height: ($value*3)/2;
    padding: $value/2;
    width: 60%;
    text-align: center;
    display: inline-block;
    & a {
        @include button;
        @include no-style;
        color: $neutral;
    }
}