.modal {
    margin: 0;
    padding: 0;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100vw;
    height: 100vh;
    position: fixed;

    &_close {
        color: darkgrey;
        text-decoration: none;
        float: right;
        margin-bottom: $value;
    }
    
    &_box {
        background-color: $neutral;
        width: 30vw;
        margin: auto;
        position: relative;
        top: 30%;
        padding: $value;
        border: 1px solid lightgrey;
        border-radius: 5px;
    }

    &_nav {
        padding: $value 0;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
}