@mixin no-mg-pd {
    padding: 0;
    margin: 0; 
}
@mixin no-style {
    list-style-type: none;
    text-decoration: none;
}

@mixin no-appearence {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
}

html {
    font-size: $value;
    font-family: $sans-serif;
}

body {
    @include no-mg-pd;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

