.icon {
    position: fixed;
    right: 0;
    bottom: 0;
    margin: $value;
    & img {
        width: 64px;
    }
    & img:hover {
        width: 74px;
    }
}

svg {
    @include no-mg-pd;
}

.fa-check {
    color: $success;
}