.wrapper {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: $value;
    &-bg {
        background-image: url('../../img/gym.png');
        background-repeat: no-repeat;
        background-size: cover;
    }
}