.wrapper {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: $value;
    background-color: $neutral;
    @media screen and (min-width:$mq-md) {
        width: 100%;
        height: 400px;
        overflow: auto;
    }

    
    &-bg {
        background-repeat: no-repeat;
        background-image: url('../../src/img/gym.png');
        background-size: cover;
        @media screen and (min-width:$mq-md) {
            background-repeat: no-repeat;
            background-image: url('../../src/img/bg.png');
            background-size: cover;
            padding: 0;
            width: 100vw;
            height: 100vh;

        }
    }
}