.wrapper {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: $value;
    &-bg {
        background-repeat: no-repeat;
        background-image: url('../../src/img/gym.png');
        background-size: cover;
    }
    
    &-dt {
        background-repeat: no-repeat;
        background-image: url('../../src/img/bg.png');
        background-size: cover;
        padding: 0;
        width: 100vw;
        height: 100vh;

    }
}